<!-- <html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('_header'); %> -->
<div class="head">
  <h1>
    Sign in or Sign up to proceed further
    <!-- / <%= title %> -->
  </h1>
</div>
<!-- <%- include('_footer'); %>
  </body>
</html> -->
<div class="actions">
  <div class="links">
    <a href="users/sign-in">Sign in</a>
  </div>
  <div class="links"><a href="users/sign-up">Sign Up</a></div>
</div>

<!-- <button action="/user/sign-in">Sign In</button> -->
