<!-- <html>
    <head>
        <title>
            <%= title  %>
        </title>
    </head>

    <body>
        <%- include('_header'); %> -->
<link rel="stylesheet" href="/css/user_profile.css" />

<div class="head">
  <h1>
    Sign Out and Reset Password
    <!-- / <%= title %> -->
  </h1>
</div>
<!-- <%- include('_footer'); %>
        
    </body>
</html> -->

<div class="actions">
  <div class="links">
    <a href="sign-out"> Sign Out</a>
  </div>
  <div class="links"><a href="reset-password"> Reset Password</a></div>
</div>
